.#{$prefix}-alert {
  min-height: 48px;
  width: max-content;
  border-radius: var(--radius);

  @each $color in $colors {
    &--#{$color} {
      overflow: hidden;
      backdrop-filter: blur(4px);
      background-color: var(--#{$color}-opacity);
    }
  }

  &--light {
    @each $color in $colors {
      &.#{$prefix}-alert--#{$color} {
        color: var(--#{$color}-dark);
      }
    }
  }

  &--dark {
    @each $color in $colors {
      &.#{$prefix}-alert--#{$color} {
        color: var(--#{$color}-light);
      }
    }
  }

  &__content {
    padding: 8px 16px;
  }

  &__button {
    margin-right: 16px;
  }
}