.#{$prefix}-avatar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 1.25rem;
    line-height: 1;
    overflow: hidden;
    user-select: none;
    border: 1px solid var(--divider);

    transition: all $animation;

    &--rounded {
        border-radius: var(--radius);
    }

    &--circular {
        border-radius: 50%;
    }

    &--clickable {
        cursor: pointer;
    }

    @each $color in $colors {
        &--#{$color} {
            color: var(--#{$color}-contrast);
            background-color: var(--#{$color});
        }
    }

    &__icon {
        color: currentColor !important;
    }
}