.#{$prefix}-button-icon {
  position: relative;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: all $animation;
  cursor: pointer;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--divider);
  }

  &:disabled {
    background-color: transparent;
    cursor: not-allowed;
  }

  @each $color in $colors {
    &--#{$color} {
      &:hover {
        background-color: var(--#{$color}-opacity);
      }
    }
  }
}