.#{$prefix}-button-icon {
  position: relative;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all $animation;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--divider);
  }

  &:disabled {
    background-color: var(--text-disabled);
    color: var(--text-secondary);
    cursor: not-allowed;

    &:hover {
      background-color: var(--text-disabled) !important;
    }
  }

  @each $color in $colors {
    &--#{$color} {
      &--contained {
        color: var(--#{$color}-contrast);
        background-color: var(--#{$color});
      }

      &--outlined {
        color: var(--#{$color});
        background-color: transparent;
        border-color: var(--divider);
      }

      &--text {
        color: var(--#{$color});
        background-color: transparent;
      }

      &:hover {
        background-color: var(--#{$color}-opacity);
      }
    }
  }
}