.#{$prefix}-modal {
  width: 600px;
  box-shadow: $box-shadow-small;
  transition: all $animation;
  transform: translateY(50px);

  &--show {
    transform: translateY(0px);
  }

  &__content {
    margin-top: 16px;
  }

  &__container {
    height: 100%;
    outline: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
  }

  &__backdrop {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.64);
    opacity: 0;
    transition: all $animation;

    &--show {
      opacity: 1;
    }
  }
}